@page {
    size: 210mm 297mm;
    margin: 0;
    padding: 0;
}

body {
    width: 210mm;
    height: 297mm;
    /*border: 1px solid red;*/
}

.cv {
    margin: 10mm 15mm 15mm 15mm;
    /*border: 1px solid red;*/
}

* {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #555;
}

.serif {
    font-family: 'Bitter', serif;
    color: #000;
}

hr {
    margin: 0;
    border: 0;
    border-top: 0.3mm #bbb solid;
}

.cv-header {
    text-align: center;
    padding-bottom: 5mm;
}

.cv-header-name {
    text-transform: uppercase;
    font-size: 30pt;
    height: 28pt;
    margin-bottom: 3mm;
    font-weight: bold;
}

.cv-header-details {
    display: flex;
    justify-content: center;
}

.cv-header-details div {
    padding: 0 2.5mm 0 2.5mm
}

.cv-section {
    display: grid;
    grid-template-columns: 21% 9fr;
    padding-top: 2.5mm;
    padding-bottom: 2.5mm;
}

.cv-section-header {
    text-transform: uppercase;
    font-size: 15pt;
    text-align: right;
    padding-right: 3mm;
}
.cv-section-entries {
    border-left: 1mm solid black;
    padding-left: 3mm;
}

.cv-entry {
    margin-top: 2mm;
    margin-bottom: 2mm;
}

.cv-entry-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.7fr;
}

.cv-entry-title{
    font-size: 11pt;
}

.cv-entry-inst{
    text-align: right;
    font-size: 10pt;
    color: #000;
    float:left;
}

.cv-entry-period{
    text-align: right;
    font-size: 10pt;
    color: #000;
    float:right;
}

.cv-entry-thesis {
    font-style: italic;
}

.cv-entry-description {
    text-align: justify;
}

.cv-prog-cat {
    margin-top: 1.5mm;
    margin-bottom: 1.5mm;
    display: grid;
    grid-template-columns: 25% 1fr;
}

.cv-cat-title {
    text-align: right;
    padding-right: 3mm;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    position: inside;
    margin-bottom: -1mm;
}

li::before {
    content: '-';
    padding-right: 1mm;
    font-size: 1.1em;
}
