<!DOCTYPE html>

{% macro section(name, data, item_macro) %}
<div class="cv-section">
    <div class="cv-section-header">
        <div class="cv-section-title serif">{{ name }}</div>
    </div>
    <div class="cv-section-entries">
        {% for c in data %}
        {{ item_macro(c) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}


{% macro hil_item(data) %}
<div class="cv-entry">
    {{ data }}
</div>
{% endmacro %}


{% macro edu_item(data) %}
<div class="cv-entry">
    <div class="cv-entry-header">
        <div class="cv-entry-title serif">{{ data.title }}</div>
        <div class="cv-entry-title serif">{{ data.institution }}</div>
        <div class="cv-entry-inst">{{ data.city }}, {{ data.country }}</div>
        <div class="cv-entry-period">[{{ data.start }} - {{ data.end }}]</div>
    </div>
    <hr>
    <div class="cv-entry-body">
        {% if data.description %}
        <div class="cv-entry-description">{{ data.description }}</div>
        {% endif %}
        {% if data.thesis_title %}
        <div class="cv-entry-thesis">
            {{ data.thesis_type }}: {{ data.thesis_title }}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro exp_item(data) %}
<div class="cv-entry">
    <div class="cv-entry-header">
        <div class="cv-entry-title serif">{{ data.title }}</div>
        <div class="cv-entry-title serif">{{ data.institution }}</div>
        <div class="cv-entry-inst">{{ data.place }}</div>
        <div class="cv-entry-period">[{{ data.start }} - {{ data.end }}]</div>
    </div>
    <hr>
    <div class="cv-entry-body">
        {% if data.responsibilities %}
        <ul>
            {% for resp in data.responsibilities %}
            <li>{{ resp }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="cv-entry-description">{{ data.description }}</div>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro skill_item(data) %}
<div class="cv-entry">
    <div class="cv-entry-title serif">Programming &amp; Software</div>
    <hr>
    <div class="cv-prog-cat">
        <div class="cv-cat-title serif">Experienced:</div>
        <div>{{ data.programming.experienced|join(', ') }}</div>
    </div>
    <div class="cv-prog-cat">
        <div class="cv-cat-title serif">Knowledgeble:</div>
        <div>{{ data.programming.sporadic|join(', ') }}</div>
    </div>
</div>

<div class="cv-entry">
    <div class="cv-entry-title serif">Languages</div>
    <hr>
    <div>{{ data.languages|join(', ') }}</div>
</div>
{% endmacro %}


<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
        <link rel="stylesheet", href="css/style.css">
        <title>CV</title>
    </head>

    <body><div class="cv">
        <div class="cv-header">
            <div class="cv-header-name serif">
                {{ cv.personal.first_name }} {{ cv.personal.last_name }}
            </div>
            <div class="cv-header-details">
                <div class="serif">{{ cv.personal.email }}</div>
                <div class="serif">{{ cv.personal.telephone }}</div>
            </div>
        </div>

        {# {{ section('Highlights', cv.highlights, hil_item) }} #}
        {{ section('Experience', cv.experience, exp_item) }}
        {{ section('Education', cv.education, edu_item) }}
        {{ section('Skills', cv.skills, skill_item) }}

    </div></body>
</html>
